// Mixins
$initial-width: 0px;
$xs-width: 575px;
$sm-width: 767px;
$md-width: 991px;
$lg-width: 1199px;
$xl-width: 1200px;


@mixin xs {
  @media (min-width: #{$initial-width}) and (max-width: #{$xs-width}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$xs-width + 1px}) and (max-width: #{$sm-width}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$sm-width + 1px}) and (max-width: #{$md-width}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$md-width + 1px}) and (max-width: #{$lg-width}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}